name = "{{project_name}}"
main = "src/index.js"
compatibility_date = "2025-01-01"
workers_dev = {{workers_dev}}

[[d1_databases]]
binding = "{{d1_binding}}"
database_name = "{{d1_name}}"
# database_id is filled in by Cloudflare Studio after wrangler creates the DB.
database_id = ""
